.m-about

  .m-about-trakit
    %h1 About Trakit
    %p Still tracking your inventory on a spreadsheet? Trakit keeps tabs on who, where, and when you loan out inventory items, big and small.
    %h2 Features
    %ul
      %li Manage bulk items or very specific serial numbers
      %li View an employee's list of checked out items
      %li See where all the items are checked out.
    .btn= link_to "See Trakit in action!", assets_path

  .m-about-dave
    %h1 Hire Dave Woodall
    = image_tag "dave_bio.jpg", class: 'dave-bio'
    %p Hey there! I started Trakit about two months ago to manage #{link_to "FactoryLabs's", "http://www.factorycodelabs.com"} internal inventory. (Although we didn't call it "Trakit", this is just my public version). This app showcases my skills in regards to Ruby, Rails, RSpec, Cucumber, HAML, and SCSS. Take a look at the #{link_to "source code", "http://www.github.com/woodall/trakit"}, or the #{link_to "user stories", "https://trello.com/board/trakit/513664f6bb46d3fd770053d4"}
    %p I'm looking to join a Rails team to learn, grow, and help build awesome things!
    = image_tag 'signature.jpg', class: 'm-signature'

    .btn-links= link_to "hireDave.me", "http://www.hiredave.me"
    = mail_to "dave@hireDave.me", "or, email me"

