%p#notice= notice

%h1= @user.name

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path

<hr>
%h2= "#{pluralize(@user.items.count, "item")}  checked out"


%table.table.span6
  %tr
    %th Name
    %th Date Out
    %th Status
    %th Checkout Serial
  - @checkout.each do |thing|
    %tr
      %td= link_to thing.item.name, item_path(thing.item_id)
      %td= thing.item.created_at.strftime("%B %e")
      %td= thing.status
      %td= thing.checkout_serial

%table.table.span3
  %tr
    %th Serial Number
  - @serials.each do |product|
    %tr
      %td=link_to product.number, product
  
  

