.container
  %ul.navbar.nav.nav-tabs
    %li= link_to 'New item', new_item_path, class: "nav-tabs"
    %li= link_to 'New checkout', new_checkout_path, class: "nav-tabs"
    %li= link_to 'New user', new_user_path, class: "nav-tabs"
    %li= link_to 'New bundle', new_bundle_path, class: "nav-tabs"
    %li.divider-vertical
    %li= link_to 'Items', items_path
    %li= link_to 'Bundles', bundles_path
    %li= link_to 'Users', users_path
    %li= link_to 'Checkouts', checkouts_path
    %li= link_to 'Serial Numbers', serial_numbers_path
    %li.divider-vertical
    %li= link_to 'About', about_path

