.container
  %h1 Track It
  %ul.navbar.nav.nav-tabs
    %li= link_to 'New Asset', new_asset_path, class: "nav-tabs"
    %li= link_to 'New checkout', new_checkout_path, class: "nav-tabs"
    %li= link_to 'New user', new_user_path, class: "nav-tabs"
    %li= link_to 'New bundle', new_bundle_path, class: "nav-tabs"
    %li.divider-vertical
    %li= link_to 'Assets', assets_path
    %li= link_to 'Bundles', bundles_path
    %li= link_to 'Users', users_path
    %li= link_to 'Checkouts', checkouts_path
    %li= link_to 'Serial Numbers', serial_numbers_path

