= form_for @serial_number do |f|
  - if @serial_number.errors.any?
    #error_explanation
      %h2= "#{pluralize(@serial_number.errors.count, "error")} prohibited this serial_number from being saved:"
      %ul
        - @serial_number.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    .field
      = f.label :number
      = f.text_field :number
    .field
      = f.label :warranty_end
      = f.date_select :warranty_end
    .actions
      = f.submit 'Save', class: "btn btn-success"



