%h1 Listing serial_numbers

%table
  %tr
    %th Number
    %th Warranty end
    %th Item
    %th User
    %th
    %th
    %th

  - @serial_numbers.each do |serial_number|
    %tr
      %td= serial_number.number
      %td= serial_number.warranty_end
      %td= serial_number.item
      %td= serial_number.user
      %td= link_to 'Show', serial_number
      %td= link_to 'Edit', edit_serial_number_path(serial_number)
      %td= link_to 'Destroy', serial_number, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Serial number', new_serial_number_path
