%p#notice= notice

%h1 Serial Number History 
%p
  %b Number:
  = @serial_number.number

%p
  %b Warranty end:
  = @serial_number.warranty_end
%p
  %b Item:
  = @serial_number.item.name unless @serial_number.item.name.nil?
%p
  %b User:
  = @serial_number.user.name unless  @serial_number.user.nil?

= link_to 'Edit', edit_serial_number_path(@serial_number)
\|
= link_to 'Back', serial_numbers_path

= simple_form_for(@asset_history) do |f|
  = f.error_notification

  = f.input :serial_number_id, as: :hidden, input_html: { value: @serial_number.id }

  .form-inputs
    = f.input :comments

  .form-actions
    = f.button :submit


-@serial_number.asset_histories.each do |entry|
  %p= entry.comments

