%p#notice= notice

%h1 Serial Number History 
%p
  %b Number:
  = @serial_number.number

%p
  %b Warranty end:
  = @serial_number.warranty_end
%p
  %b Asset:
  = serial_no
%p
  %b User:
  = assigned_user_to_serial_number(@serial_number)

= link_to 'Edit', edit_serial_number_path(@serial_number)
\|
= link_to 'Back', serial_numbers_path

= render 'asset_history_form'

-@serial_number.asset_histories.each do |entry|
  %p= entry.comments
