= simple_form_for(@bundle_attribute) do |f|
  = f.error_notification

  .form-inputs
    = f.input :bundle_key
    = f.input :bundle_value
    = f.input :bundle_id

  .form-actions
    = f.button :submit
