= simple_form_for(@feature) do |f|
  = f.error_notification

  .form-inputs
    = f.input :feature_key, label: "Label"
    = f.input :feature_value, label: "Value"
    = f.input :asset_id, as: :hidden, input_html: { value: @asset.id }

  .form-actions
    = f.button :submit, "Add Asset Attribute", class: "btn btn-success"