%h1 Listing checkouts

%table.table
  %tr
    %th Date Out
    %th User
    %th Asset
    %th Due Date
    %th Status


  - @checkouts.each do |checkout|
    %tr
      %td= link_to checkout.created_at.strftime("%b %e"), checkout
      %td= checkout.user.name
      %td= checkout.asset.name
      %td
        = remaining_time_of_rental(checkout)
        \(
        = due_date(checkout)
        \)
      %td= checkout.status
      %td= link_to 'Edit', edit_checkout_path(checkout)
      %td= link_to 'Destroy', checkout, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Checkout', new_checkout_path, class: "btn"



