%p#notice= notice

%h1 Assignment History

%table.table
  %tr
    %th Date
    %th User
    %th Item
    %th Quantity
    %th Serial Number
    %th Status
    %th Comments

  %tr
    %td=  @checkout.user.created_at.strftime('%B %e')
    %td=  @checkout.user.name
    %td=  @checkout.item.name
    %td=  @checkout.quantity
    %td=  @checkout.checkout_serial
    %td=  @checkout.status

= link_to 'Edit', edit_checkout_path(@checkout)
\|
= link_to 'Back', checkouts_path

= simple_form_for(@assignment) do |f|
  = f.error_notification

  = f.input :checkout_id, as: :hidden, input_html: { value: @checkout.id }
  = f.input :note, as: :text, input_html: { rows: 3 }

  .form-actions
    = f.button :submit

- @checkout.assignment_histories.each do |historical|
  %p
  = historical.note 
  \- 
  = historical.created_at.strftime("%B %e")
