%p#notice= notice

%h1= link_to @item.name, edit_item_path(@item)

.row
  %p
  %b Available Stock: 
  = @item.quantity

  %p
  %b Bundle:
  = link_to @item.bundle.name, bundle_path(@item.bundle)

  - @item.item_features.each do |feature|
    %p
      %b=feature.feature_key
      \:
      =link_to feature.feature_value, edit_item_feature_path(feature)

  = render 'add_feature'

= render 'trackable_table'
= render 'form_new_serial'
