%p#notice= notice

%h1= @item.name 
<hr>
%p
  = link_to 'Edit', edit_item_path(@item)
  \|
  = link_to 'Back', items_path


%table.table
  %tr
    %th Available Quantity
    %th Checked out
    %th Bundle
  %tr
    %td= @item.quantity
    %td= @serials.count
    %td= link_to @item.bundle.name, bundle_path(@item.bundle)




%hr

%h3 Serial Numbers
%table.table
  %tr
    %th Number
    %th Date Created
    %th Warranty End
    %th Assigned to

  - @serials.each do |item|
    %tr
      %td= link_to item.number, edit_serial_number_path(item)
      %td= item.created_at.strftime('%B %e')
      %td= item.warranty_end
      %td= link_to item.user.name, user_path(item.user) unless item.user.nil?


