%p#notice= notice

%h1= @bundle.name

= link_to 'Edit', edit_bundle_path(@bundle)
\|
= link_to 'Back', bundles_path

<hr>

- @bundle.bundle_attributes.each do |attr|
  %p
  = attr.bundle_key
  \: 
  = attr.bundle_value

= simple_form_for(@attributes) do |f|
  = f.error_notification

  .form-inputs
    = f.input :bundle_key
    = f.input :bundle_value
    = f.input :bundle_id, as: :hidden, input_html: { value: @bundle.id }

  .form-actions
    = f.button :submit


%h3 Items
%table.table.table
  %tr
    %th Item
    %th Quantity
    
  - @bundle.items.each do |asset|
    %tr
      %td= link_to asset.name, asset
      %td= asset.quantity
        