%p#notice= notice

%h1= @bundle.name

= link_to 'Edit', edit_bundle_path(@bundle)
\|
= link_to 'Back', bundles_path

<hr>

- @bundle.bundle_attributes.each do |attr|
  %p
  = attr.bundle_key
  \: 
  = attr.bundle_value

= render 'form_attributes'

%h3 Items
%table.table.table
  %tr
    %th Item
    %th Quantity
    
  - @bundle.items.each do |asset|
    %tr
      %td= link_to asset.name, asset
      %td= asset.quantity
        