!!!
%html
  %head
    %title Keep track of your stuff with Trakit!
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'shared/typekit'
    = render 'shared/analytics'


  %body
    = render 'shared/main_nav'
    .m-app-container
      = yield

  = render "shared/footer"